[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.116.1"
pydantic = "==2.11.7"
pytest-asyncio = "*"
httpx = "==0.28.1"
pytest = "==8.4.1"
pytest-cov = "==6.2.1"
psycopg2-binary = "==2.9.10"
pydantic-settings = "<3.0.0,>=2.0.0"
python-ulid = "<3.0.0,>=2.0.0"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
dev = "python main.py"
start = "uvicorn main:app --host 0.0.0.0 --port 8000"
test = "pytest"
test-cov = "pytest --cov=. --cov-report=html --cov-report=term"
lint = "python -m py_compile *.py"
